<!--[if lt IE 9]>
<div class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста, <a href="http://browsehappy.com/">обновите ваш браузер</a> и смотрите на мир в цвете.</div>
<![endif]-->
