
<h1>Заголовок Первого уровня</h1>
<h2>Заголовок Второго уровня</h2>
<h3>Заголовок Третьего уровня</h3>
<h4>Заголовок Четвертого уровня</h4>
<h5>Заголовок Пятого уровня</h5>
<h6>Заголовок Шестого  уровня</h6>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<blockquote>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</blockquote>

<table class="table0" style="width:100%;">
    <caption>Таблица без рамки class="table0"</caption>
    <thead>
        <tr>
            <th>Lorem ipsum dolor sit amet.</th>
            <th>Lorem ipsum dolor.</th>
            <th>Lorem ipsum.</th>
            <th>Lorem.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor.</td>
            <td>Lorem ipsum.</td>
            <td>Lorem.</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor.</td>
            <td>Lorem ipsum.</td>
            <td>Lorem.</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor.</td>
            <td>Lorem ipsum.</td>
            <td>Lorem.</td>
        </tr>
    </tbody>
</table>
<table class="table1" style="width:100%;">
    <caption>Таблица с рамкой class="table1"</caption>
    <thead>
        <tr>
            <th>Lorem ipsum dolor sit amet.</th>
            <th>Lorem ipsum dolor.</th>
            <th>Lorem ipsum.</th>
            <th>Lorem.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor.</td>
            <td>Lorem ipsum.</td>
            <td>Lorem.</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor.</td>
            <td>Lorem ipsum.</td>
            <td>Lorem.</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor.</td>
            <td>Lorem ipsum.</td>
            <td>Lorem.</td>
        </tr>
    </tbody>
</table>
<table class="table2" style="width:100%;">
    <caption>Таблица с заголовком class="table2"</caption>
    <thead>
        <tr>
            <th>Lorem ipsum dolor sit amet.</th>
            <th>Lorem ipsum dolor.</th>
            <th>Lorem ipsum.</th>
            <th>Lorem.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor.</td>
            <td>Lorem ipsum.</td>
            <td>Lorem.</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor.</td>
            <td>Lorem ipsum.</td>
            <td>Lorem.</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor.</td>
            <td>Lorem ipsum.</td>
            <td>Lorem.</td>
        </tr>
    </tbody>
</table>
