<div block="app-footer" mix="block:text-center">
    <br>
    <p><a href="https://github.com/yunusga/marmelad" rel="noreferrer, nofollow" target="_blank">Marmelad v{{app.package.version}}</a></p>
    <br>
</div><!-- b:app-footer -->
