<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{pageTitle}}</title>

        {{!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --}}

        <link rel="stylesheet" href="images/styles/plugins.min.css">
        <link rel="stylesheet" href="images/styles/main.css">

        <script src="images/scripts/vendor/modernizr.min.js"></script>
    </head>
    <body block="app-wrapper" mod="{{template}}">

        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

            <header block="app-header">
                page-header
            </header>

        <div class="app-body">
            <main class="app-content">
                {{#block 'content'}}{{/block}}
            </main>
            {{#if leftbar}}
            <nav class="app-leftbar">
                {{#block 'leftbar'}}{{/block}}
            </nav>
            {{/if}}
            {{#if rightbar}}
            <aside class="app-rightbar">
                {{#block 'rightbar'}}{{/block}}
            </aside>
            {{/if}}
        </div>

        <footer block="app-footer">
            page-footer
        </footer>

        <script src="https://yastatic.net/jquery/2.2.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="images/scripts/vendor/jquery-2.2.0.min.js"><\/script>')</script>
        <script src="images/scripts/plugins.min.js"></script>
        <script src="images/scripts/main.js"></script>

    </body>
</html>
