<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{pageTitle}}</title>

        {{!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --}}

        <link rel="stylesheet" href="images/styles/plugins.min.css">
        <link rel="stylesheet" href="images/styles/app.css">

        <script src="images/scripts/vendor/modernizr.min.js"></script>
    </head>
    <body block="app-wrapper" mod="{{template}}">

        {{> browserupgrade}}

        {{> app-header}}

        <div class="app-body">
            <main class="app-content">
                {{#block 'content'}}{{/block}}
            </main>
            {{#if leftbar}}
            <nav class="app-leftbar">
                {{#block 'leftbar'}}{{/block}}
            </nav>
            {{/if}}
            {{#if rightbar}}
            <aside class="app-rightbar">
                {{#block 'rightbar'}}{{/block}}
            </aside>
            {{/if}}
        </div>

        {{> app-footer}}

        <script src="images/scripts/vendor/jquery-2.2.0.min.js"></script>
        <script src="images/scripts/plugins.min.js"></script>
        <script src="images/scripts/main.js"></script>

        <script>
            // Фикс. исчезающих svg-иконок (xlink из спрайта) в IE, после jquery wrap
            svg4everybody();
        </script>

    </body>
</html>
