html
    height : 100%

body,
.b-scroll-wrapper
    display : flex
    height 100%
    flex-direction column

.app-header,
.app-footer
    flex none
    box-sizing border-box

.app-body
    display flex
    flex 1 0 auto

.app-content
    flex 1

.app-leftbar,
.app-rightbar
    flex : 0 0 240px

.app-leftbar
    order -1
