.main-svg-sprite
  display: none

.svg-icon
  display: inline-block
  width: 24px
  height: 24px
  fill: currentColor
  font-size: 0

  &__link
    vertical-align: top
    fill: inherit
    width: inherit
    height: inherit
