theme_color              = #cdcdcd

headlines_color          = #333
headlines_font_weight    = 700

text_color               = #333

link_color               = #0054b9
link_color_hover         = #c00
link_color_visited       = #6da2e1

placeholder_color        = #777
placeholder_color_focus  = transparent

contents_margins         = 20px

// b-grid vars
grid_columns    = 12
grid_gutter     = 15px
grid_class      = 'b-grid'
grid_class_list = 'list'
grid_class_item = 'item'

table_data = {
    header_background_color : theme_color,
    header_text_color       : #fff,
    header_text_weight      : 400,
    border_color            : #daddde
    stripe_color            : #daddde,
    stripe_type             : even
}
