<!-- [+] shop2-pagelist -->
<ul block="shop2-pagelist">
    <li class="page-first"><a href="#"><icon name="angle-double-left" /></a></li>
    <li class="page-prev"><a href="#"><icon name="angle-left" /></a></li>
    <li class="page-num"><a href="#">1</a></li>
    <li class="page-num"><a href="#">2</a></li>
    <li class="page-num active-num"><span>3</span></li>
    <li class="page-num"><a href="#">4</a></li>
    <li class="page-num more-num"><span>...</span></li>
    <li class="page-num"><a href="#">15</a></li>
    <li class="page-next"><a href="#"><icon name="angle-right" /></a></li>
    <li class="page-last"><a href="#"><icon name="angle-double-right" /></a></li>
</ul>
<!-- [-] shop2-pagelist -->