<!doctype html>
<html lang="{{ app.lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ pageTitle }} - {{ app.package.name | capitalize }} v{{ app.package.version }} / {{ git.branch }}</title>

        <meta name="theme-color" content="{{ app.stylus.colors.theme }}">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">

        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">

        <link rel="stylesheet" href="css/app.css">

        {% block inlineStyles %}{% endblock %}
    </head>

    <body block="app" class="{{ bodyClasses }}">

        <div elem="wrapper">

            {% if layout.header %}
            	{% include 'header.html' %}
            {% endif %}

            <div elem="content">

                <main elem="main">
                    {% block main %}{% endblock %}
                </main><!-- app:main -->

            </div><!-- app:content -->

            {% if layout.footer %}
            	{% include 'footer.html' %}
            {% endif %}

        </div><!-- app:wrapper -->

        {% include 'page-scroller.html' %}

		{{ inlineSvgSprite() }}

		<script>
			var site_defers = {
				smoothscroll: 'js/vendors/smoothscroll.polyfill-0.4.4.js',
			}
		</script>

        <script src="js/vendors/jquery-3.6.0.min.js"></script>
        <script src="js/app.js"></script>

    </body><!-- app -->
</html>
