$brandColor = #009688

$table = {
  borderColor : #ccc,
  headerBackgroundColor : $brandColor,
  headerTextColor : #fff,
  headTextWeight : 700,
  stripeColor : #f1f1f1,
  stripeType : even
}

$textColor = #000
$headerColor = #000
$linkColor = $brandColor

$fontSize = 16px
$headerSize = $fontSize * 2