/* ==========================================================================
 * цвет выделения текста
   ========================================================================== */
::selection
    background : theme_color
    color : #fff
::-moz-selection
    background : theme_color
    color : #fff

/* ==========================================================================
   цвет плейсхолдеров
   ========================================================================== */
::-webkit-input-placeholder
    color : placeholder_color
:-moz-placeholder
    color : placeholder_color
/* FF 4-18 */
::-moz-placeholder
    color : placeholder_color
/* FF 19+ */
:-ms-input-placeholder
    color : placeholder_color

/* placeholders focus */
/* IE 10+ */
input:focus::-webkit-input-placeholder
    color : placeholder_color_focus
input:focus:-moz-placeholder
    color : placeholder_color_focus
/* FF 4-18 */
input:focus::-moz-placeholder
    color : placeholder_color_focus
/* FF 19+ */
input:focus:-ms-input-placeholder
    color : placeholder_color_focus
/* IE 10+ */
:focus::-webkit-input-placeholder
    color : placeholder_color_focus
:focus::-moz-placeholder
    color : placeholder_color_focus
:focus:-moz-placeholder
    color : placeholder_color_focus
:focus:-ms-input-placeholder
    color : placeholder_color_focus

*
    // [fix.JS] некорректного расчета длины внутри flexbox контейнеров
    min-width: 0
    min-height: 0

    // цвет тапа для вебкитов
    -webkit-tap-highlight-color: rgba(0,0,0,0)

    // сброс верхнего отступа для первых элементов
    + .app-headline,
    + h1,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6,
    + table,
    + address,
    + blockquote,
    + dl,
    + fieldset,
    + figure,
    + ol,
    + p,
    + pre,
    + ul
        margin-top contents_margins

.app-headline,
h1,
h2,
h3,
h4,
h5,
h6,
table,
address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul
    margin 0 0 contents_margins 0

/* ==========================================================================
   Заголовки
   ========================================================================== */
.app-headline,
h1,
h2,
h3,
h4,
h5,
h6
    font-weight headlines_font_weight
    color headlines_color

.app-headline,
h1
    font-size  : 28px
    line-height 28px

h2
    font-size 26px
    line-height 26px

h3
    font-size 24px
    line-height 24px

h4
    font-size 22px
    line-height 22px

h5
    font-size 20px
    line-height 20px

h6
    font-size 18px
    line-height 18px

/* ==========================================================================
   Цитата
   ========================================================================== */
blockquote
    font-style italic
    background rgba(theme_color, .1)
    border-left 10px solid theme_color
    margin contents_margins
    padding 15px

    p
        display inline
        margin 0

/* ==========================================================================
   ссылки
   ========================================================================== */
a
    color           : link_color
    text-decoration : underline

    &:visited
        color link_color_visited

    &:hover
        color link_color_hover

    &:active,
    &:focus
        outline : none

    img
        border : none

/* ==========================================================================
   таблицы
   ========================================================================== */
table

    caption
        font-style italic

    thead,
    th
        font-weight table_data[header_text_weight]

    caption,
    th,
    td
        padding 10px 20px
        text-align left

/* ==========================================================================
   SVG -иконки
   ========================================================================== */
.main-svg-sprite
    display none

.svg-icon
    width 24px
    height 24px
    fill #333

    &__link
        vertical-align top
        fill inherit
        width inherit
        height inherit

/* ==========================================================================
   хелперы
   ========================================================================== */
.hidden
    display: none !important

.visuallyhidden
    border: 0
    clip: rect(0 0 0 0)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
    clip: auto
    height: auto
    margin: 0
    overflow: visible
    position: static
    width: auto

.invisible
    visibility: hidden

.clearfix:before,
.clearfix:after
    content: " "
    display: table

.clearfix:after
    clear: both
