@require 'components/_variables';
@require 'components/_mixins';
@require 'components/reboot';
@require 'components/iconizer';
// @require 'components/wordpress';

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */
.browserupgrade
  margin : $appGutter 0
  background : #ccc
  color : #000
  padding : $appGutter 0

.theme-color
  color: $colors.primary

@require '../_blocks/**/*.styl';
@require 'components/_keyframes';
