// EXTENDS SECTION ==========================================
.reset-control
    appearance none
    outline none
    text-decoration none

    margin 0
    padding 0

    background none
    border none
    //cursor pointer

.reset-list
    padding 0
    margin 0
    list-style-type none

.with-focus:focus
    box-shadow: 0 0 0 2px rgba($colorPrimary,0.35), inset 0 2px 5px rgba($colorPrimary,0.125)

.display

    &_flex
        display flex
    &_inline-flex
        display : inline-flex

.flex-direction

    &_row
        flex-direction row
    &_row-reverse
        flex-direction row-reverse
    &_column
        flex-direction column
    &_column-reverse
        flex-direction column-reverse

.flex-wrap

    &_nowrap
        flex-wrap nowrap
    &_wrap
        flex-wrap wrap
    &_wrap-reverse
        flex-wrap wrap-reverse

.justify-content

    &_flex-start
        justify-content flex-start
    &_flex-end
        justify-content flex-end
    &_center
        justify-content center
    &_space-between
        justify-content space-between
    &_space-around
        justify-content space-around

.align-items

    &_flex-start
        align-items flex-start
    &_flex-end
        align-items flex-end
    &_center
        align-items center
    &_baseline
        align-items baseline
    &_stretch
        align-items stretch

// HELPERS CLASSES ====================================================
for $weight, $value in $fontWeight
    .font-{$weight}
        font-weight : $value
