theme-color_primary   = #009688
theme-color_secondary = #c00

aside-width-left  = 300px
aside-width-right = aside-width-left

base-gutter          = 15px
base-content-width   = 960px

base-font-family =  '"Helvetica Neue",Helvetica,Arial,sans-serif'
base-font-size   = 16px
base-font-small  = (base-font-size / 100 * 80)
base-font-weight = 400
base-line-height = 1.4
base-text-color  = #333

controls_height = 36px
controls_radius = 3px

pathToFonts = '../assets/fonts'

selection = {
    bgc   : theme-color_primary,
    color : #fff
}

placeholders = {
    normal : base-text-color,
    focus : transparent
}

html = {
    family     : unquote(base-font-family),
    weight     : base-font-weight,
    color      : base-text-color,
    fontSize   : base-font-size,
    lineHeight : base-line-height,
    bgc        : #fff
}

breakpoints = {
    xs  : 480px,
    sm  : 600px,
    md  : 840px,
    hd  : 960px,
    lg  : 1280px,
    xlg : 1440px,
    fhd : 1600px
}

grid = {
    block   : w-grid,
    elem    : col,
    columns : 12,
    gutter  : 0,
    mods    : {
        demo : {
            gutter : 15
        }
    }
}

wp = {
    gallery : {
        columns : 9,
        gutter  : 5
    }
}

iconizer = {
    width  : 24px,
    height : 24px,
    fill   : #333
}

text-weight = {
    thin    : 100,
    light   : 300,
    regular : 400,
    medium  : 500,
    bold    : 700,
    black   : 900
}

headings = {
    gutter    : base-gutter,
    family    : unquote(base-font-family),
    weight    : 500,
    color     : base-text-color,
    transform : none,
    size      : 36
}

links = {
    default : #0054b9,
    hover   : #c00,
    active  : false,
    visited : false
}

blockquote = {
    gutter : base-gutter,
    border : {
        size  : 5px,
        color : theme-color_primary
    },
    font : {
        size  : base-font-size,
        style : normal
    }
}

controls = {
    default : {
        bgc : #eee,
        color : base-text-color
    },
    brand : {
        bgc : theme-color_primary,
        color : #fff
    },
    success : {
        bgc : #66bb6a,
        color : #fff
    },
    info : {
        bgc : #26c6da,
        color : #fff
    },
    warning : {
        bgc : #ffca28,
        color : #fff
    },
    danger : {
        bgc : #ff7043,
        color : #fff
    }
}
