::-moz-selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

::selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none


/* IE 10+ */
::-webkit-input-placeholder
    color : $placeholders.normal
:-moz-placeholder
    color : $placeholders.normal
/* FF 4-18 */
::-moz-placeholder
    color : $placeholders.normal
/* FF 19+ */
:-ms-input-placeholder
    color : $placeholders.normal

if $placeholders.focus
    /* Input placeholder color
     ========================================================================== */
    /* IE 10+ */
    input:focus::-webkit-input-placeholder
        color : $placeholders.focus
    input:focus:-moz-placeholder
        color : $placeholders.focus
    /* FF 4-18 */
    input:focus::-moz-placeholder
        color : $placeholders.focus
    /* FF 19+ */
    input:focus:-ms-input-placeholder
        color : $placeholders.focus



*
    min-width 0
    min-height 0
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    box-sizing border-box

html
    font-size : $html.fontSize
    font-family : $html.family
    font-weight : $html.weight
    color : $html.color
    background-color : $html.bgc

    font-feature-settings : kern, liga, onum
    -webkit-font-smoothing : antialiased
    -webkit-text-size-adjust : 100%
    -ms-text-size-adjust : 100%

body
    font-size : inherit
    font-family : inherit
    font-weight : inherit
    color : inherit
    background-color : inherit

a,
.m-link
    
    $underline_distance = 2px

    display : inline
    color : $links.default
    background-color : transparent
    -webkit-text-decoration-skip : objects
    text-decoration : none
    
    elegant_link_underline($underline_distance)
    elegant_link_shadow($html.bgc)

    &:active,
    &:focus,
    &:hover
        outline 0
        text-decoration : none

    if $links.hover
        &:hover
            color : $links.hover
            elegant_link_underline($underline_distance)

    if $links.active
        &:active
            color : $links.active
            elegant_link_underline($underline_distance)

    if $links.visited
        &:visited
            color : $links.visited
            elegant_link_underline($underline_distance)

/*
 * Sizes
 */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
    font-family    : $headings.family
    font-weight    : $headings.weight
    color          : $headings.color
    text-transform : $headings.transform
    margin-top     : ($appGutter * 1.5)
    margin-bottom  : $appGutter
    
    &::-moz-selection
        background : theme-color_secondary
        color : $selection.color
        text-shadow : none

    &::selection
        background : theme-color_secondary
        color : $selection.color
        text-shadow : none

for $num in (0..5)
    h{$num+1},
    .h{$num+1}
        font-size : unit($headings.size - (6 * $num), px)

p
    margin 0 0 $appGutter

hr
    margin-top ($appGutter * 1.5)
    margin-bottom ($appGutter * 1.5)

blockquote
    font-style   : $blockquote.font.style
    padding-left : $blockquote.gutter
    border-left  : $blockquote.border.size solid $blockquote.border.color
    background-color : rgba($blockquote.border.color, .03)
    margin : ($appGutter * 1.5) 0 ($appGutter * 2.5)

    footer
        margin-top : ($blockquote.gutter / 1.5)

/*
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress
    vertical-align: baseline

/*
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden]
    display none


/* Iframe
 ========================================================================== */

iframe
    border: 0


/* Prevent the 300ms delay for touchscreen interactions
 ========================================================================== */

/*
 * Most browsers prevent the 300ms delay automatically for sites that use the `width=device-width` property.
 * For Safari on iOS 9.3+, IE 11 and Edge on desktops and IE 11 on Windows Phone 8.1 it must be applied manually.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea
    touch-action manipulation
