.ctrl
    $ctrlRadius = 3px
    
    border-radius : $ctrlRadius
    outline none
    
    &:focus
        box-shadow: 0 0 0 2px rgba($colorPrimary, .35), inset 0 2px 5px rgba($colorPrimary, .125)
    
textarea
    resize vertical

.button,
.input
    appearance none
    outline none
    text-decoration none
    margin 0
    padding 0
    background none
    border none

    display inline-block
    vertical-align middle
    max-width 100%
    line-height : 21px
    padding 5px 15px 7px
    border 1px solid transparent
    border-radius : $controlsRadius
    
    @extend .ctrl

.button
    text-decoration none
    user-select none
    cursor pointer

    &.a
        text-shadow none
        text-decoration none

    &:hover,
    &:focus
        background-color darken(#fff, 3%)
        background-image none

    &:active
        background-color darken(#fff, 5%)

    &{$modPrefix}demo
        text-transform capitalize

    for $mod in $controls

        &{$data.beml.modPrefix}{$mod}
            background-color : $controls[$mod].bgc
            color : $controls[$mod].color

            &:hover,
            &:focus
                background-color : darken($controls[$mod].bgc, 5%)

            &:active
                background-color : darken($controls[$mod].bgc, 10%)

            &.button{$modPrefix}ghost
                background-color transparent
                border-color : $controls[$mod].bgc

                if ($mod == 'default')
                    color : $textColor.primary
                else
                    color : darken($controls[$mod].bgc, 5%)


                &:hover,
                &:focus
                    background-color : darken($controls[$mod].bgc, 5%)
                    border-color : darken($controls[$mod].bgc, 5%)
                    color : $controls[$mod].color

                &:active
                    border-color : darken($controls[$mod].bgc, 10%)
                    background-color : darken($controls[$mod].bgc, 10%)
                    color : $controls[$mod].color

.input
    color : $textColor.primary

    &{$data.beml.modPrefix}textarea
        padding 10px 15px
        height auto
        line-height : 26px
        rasize vertical

    for $mod in $controls

        &{$data.beml.modPrefix}{$mod}
            border-color : $controls[$mod].bgc

            &:hover,
            &:focus
                border-color : darken($controls[$mod].bgc, 10%)

            if ($mod == 'default')

                &::-webkit-input-placeholder
                    color : $textColor.primary
                &::-moz-placeholder
                    color : $textColor.primary
                &:-moz-placeholder
                    color : $textColor.primary
                &:-ms-input-placeholder
                    color : $textColor.primary
            else

                &::-webkit-input-placeholder
                    color : $controls[$mod].bgc
                &::-moz-placeholder
                    color : $controls[$mod].bgc
                &:-moz-placeholder
                    color : $controls[$mod].bgc
                &:-ms-input-placeholder
                    color : $controls[$mod].bgc
