.{$grids.block}
    display flex
    flex-direction row
    flex-wrap wrap
    
    margin : 0
    
    &{$elemPrefix}{$grids.col}
        flex-basis 100%
        max-width 100%
        box-sizing : border-box
        
        for $cols in (1..$grids.columns)
            
            &{$modPrefix}{$cols}
                $colWidth = (100 / $grids.columns * $cols * 1%)
                max-width : $colWidth
                flex-basis : $colWidth

    for $modifier, $opts in $grids.mods

        &{$data.beml.modPrefix}{$modifier}
            margin : $opts.gutter

            .{$grids.block}{$elemPrefix}{$grids.col}
                padding : $opts.colGutters
                

    &{$modPrefix}reverse
        flex-direction row-reverse
    
    &{$modPrefix}start
        justify-content flex-start
    
    &{$modPrefix}center
        justify-content center
    
    &{$modPrefix}around
        justify-content space-around
        
    &{$modPrefix}between
        justify-content space-between

    &{$modPrefix}end
        justify-content flex-end
    
    &{$modPrefix}top
        align-items flex-start
        
    &{$modPrefix}middle
        align-items center
        
    &{$modPrefix}bottom
        align-items flex-end

for $alias, $size in $breakpoints
    
    @media ({$grids.mq}-width : $size)
        .{$alias}-normal
            flex-direction row
        .{$alias}-reverse
            flex-direction row-reverse
        .{$alias}-start
            justify-content flex-start
        .{$alias}-center
            justify-content center
        .{$alias}-around
            justify-content space-around
        .{$alias}-between
            justify-content space-between
        .{$alias}-end
            justify-content flex-end
        .{$alias}-top
            align-items flex-start
        .{$alias}-middle
            align-items center
        .{$alias}-bottom
            align-items flex-end
        
        for $cols in (1..$grids.columns)
            .{$grids.block}{$elemPrefix}{$grids.col}.{$alias}-{$cols},
            .{$grids.block}.{$alias}-{$cols} .{$grids.block}{$elemPrefix}{$grids.col}
                $colWidth = (100 / $grids.columns * $cols * 1%)
                max-width : $colWidth
                flex-basis : $colWidth