= yaml =
pageTitle: Documentation
bodyMods: docs
bodyClasses: docs
scrollFixClasses: null
contentClasses: 'container'
layout: !!map
    header : true
    footer : true
    left : false
    right : false

themeColors:
- theme
- primary
- secondary
- success
- info
- warning
- danger
- light
- dark

= yaml =

{% extends '_layout.html' %}

{% block main %}

<dl>
    <dt><a href="https://ru.bem.info/methodology/" target="_blank" rel="noopener">БЭМ методология</a></dt>
    <dd>Методология БЭМ создана в Яндексе для разработки сайтов, которые надо делать быстро, а поддерживать долгие годы. Она позволяет создавать расширяемые и повторно используемые компоненты интерфейса.</dd>
</dl>

<dl>
    <dt><a href="http://nicothin.github.io/idiomatic-pre-CSS/" target="_blank" rel="noopener">Как работать с CSS-препроцессорами и БЭМ</a></dt>
    <dd>Список рекомендаций по неусложнению жизни себе и другим участникам проекта по вёрстке.</dd>
</dl>

<dl>
    <dt><a href="https://github.com/yoksel/common-words" target="_blank" rel="noopener">Слова, часто используемые в CSS-классах</a></dt>
    <dd>Подборка часто используемых названий CSS-классов с примерами</dd>
</dl>

<hr>

<h2>Buttons</h2>

<p>{% for btn in themeColors -%}
    <button type="button" class="btn btn-{{ btn }}">{{ btn | capitalize }}</button>
{%- endfor %}</p>

<h2>Outline buttons</h2>
<p>{% for btn in themeColors -%}
    <button type="button" class="btn btn-outline-{{ btn }}">{{ btn | capitalize }}</button>
{%- endfor %}</p>

{% endblock %}